@charset "EUC-KR";
body {
	background-color: white;
}
a {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

h1 {
	font-size: 35px;
	border-width: medium;
	border-style: solid;
	border-color: black;
	padding: 30px;
}
ol {
	font-size: 20px;
}